@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --preto: #1d1919; 
    --laranja: #f7c009;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', Arial, sans-serif; 
}

body {
    font-size: 14pt;
    background-color: #f5f1f1;
}

section {
    padding: 70px 50px;
}

.container {
    padding: 20px;
}

.btn {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--laranja);
}

.btn-form {
    display: block;
    padding: 10px 30px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: 12pt;
    color: white;
    background-color: var(--laranja);
}

.destaq {
    font-size: 24pt;
    color: var(--laranja);
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12pt;
    padding: 10px;
    color: white;
    background-color: #221d1d;
}

header img {
    width: 80px;
    height: 77px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

.reserva p {
    display: inline-block;
    margin-right: 10px;
}

.apresentacao {
    display: flex;
    align-items: center;
    height: calc(100vh - 100px);
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

.apresentacao div {
    width: 60%;
}

.apresentacao .btn {
    padding: 10px 20px;
    margin-top: 20px;
}

.sobre {
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    background-color: var(--preto);
}

.sobre div p {
    padding-right: 20px;
    font-size: 13pt;
}

.sobre img {
    width: 100%;
    height: auto;
}

.servicos h2 {
    margin-bottom: 10px;
    text-align: center;
}

.card-service {
    padding: 10px;
    text-align: center;
}

.service {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 34pt;
    color: var(--laranja);
}

.especiais {
    color: white;
    background-color: var(--preto);
}

.especiais h2 {
    text-align: center;
    margin-bottom: 10px;
}

.card-especial {
    font-size: 10pt;
}

.card-especial img {
    width: 100%;
    height: auto;
}

.testemunhas {
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-position: center;
}

.testemunhas h2 {
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.card-testemonial {
    padding: 10px;
    border-radius: 20px;
    font-size: 12pt;
    text-align: center;
    background-color: #ffffffaf;
}

.card-testemonial img {
    display: block;
    width: 50%;
    border-radius: 50%;
    margin: auto;
}

.contato h2 {
    margin-bottom: 10px;
    text-align: center;
}

.grid-contato {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}

.contato-form input {
    display: block;
    width: 100%;
}

.contato-form textarea {
    width: 100%;
    resize: none;
}

footer {
    margin-top: 20px;
    border-top: 2px solid gray;
    text-align: center;
}